[submodule "AFL"]
	path = AFL
	url = https://github.com/google/AFL.git
[submodule "fuzzer-test-suite"]
	path = fuzzer-test-suite
	url = https://github.com/google/fuzzer-test-suite.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
